on:
  workflow_dispatch:
  push:

jobs:
  windows:
    name: Windows
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install node-gyp globally
        run: |
          node-gyp --version
          npm install -g node-gyp@^11.2.0
          node-gyp --version

      - name: Upgrade node-gyp inside npm package
        run: |
          # npm explore -g npm -- npm install node-gyp@^11.2.0 || true

          $nodePath = (Get-Command node).Path
          $nodeDir = Split-Path -Parent $nodePath
          Push-Location $nodeDir\\node_modules\\npm
          try {
            pwd
            npm install node-gyp@^11.2.0
          }
          finally {
              Pop-Location
          }

      - name: Upgrade node-gyp inside @npmcli/run-script package
        run: |
          # npm explore -g npm/node_modules/@npmcli/run-script -- npm install node-gyp@^11.2.0 || true

          $nodePath = (Get-Command node).Path
          $nodeDir = Split-Path -Parent $nodePath
          Push-Location $nodeDir\\node_modules\\npm\\node_modules\\@npmcli\\run-script
          try {
            pwd
            npm install node-gyp@^11.2.0
          }
          finally {
              Pop-Location
          }

      - name: Install project and see what node-gyp version is used
        run: |
          npm ci